$primary-color: rgb(27, 27, 27);
$secondary-color: rgb(129, 129, 129);
$tertiary-color: rgb(247, 247, 247);
//$tertiary-text: #ffcd00;
$tertiary-text: rgb(139, 139, 139);

$max-content-width: 850px;
$search-text-color: #626262;
$text-color: #414141;